.table-create-IV .form-control{

    height: 25px;
    padding: 0;
}

.table-create-IV .input-group-text{

    height: 25px;
}

.table-create-IV .form__number {

    padding-right: 10px; 
    padding-left: 10px;
}

.table-create-IV .td__unitValue{

    max-width: 130px;
}

.btn-remove-row {
    color : #ccc;
}
.btn-remove-row:hover {
    color : #dc3545;
}
